.containerForm {
  width: 100%;
  height: 100%;
  background-image: url("https://i.ytimg.com/vi/mafZwdP6wq8/maxresdefault.jpg");
  background-size: 100% auto;
  background-color: #f8e7fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerForm input {
  margin-bottom: 20px;
}

.productContainer {
  width: 700px;
  /* height: 100vh;  */
  background: #fffdfd;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.form {
  /* width: 100%;
    height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formProductContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.formProductContainer h5{
  text-align: center;
  font-size: 21px;
  margin-bottom: 20px;
}


.titleForm {
  font-weight: 700;
  padding-bottom: 10px;
  width: 300px;
  color: rgb(89, 3, 146);
  border-bottom: 3px solid #7e12c6;
}

.formInput {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #603366;
  margin-left: -10px;
}

.formInput:focus {
  border-bottom: 2px solid #8500a7;
}

.containerBtn {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}
.btn {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: "Montserrat", sans-serif;
  border-radius: 7px;
  border: none;
  background: #7503a1;
  color: rgb(255, 255, 255);
  font-weight: 550;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background: #690391;
  color: rgb(255, 255, 255);
}

.btn:active {
  background: #65048b;
}
.textError {
  color: red;
}

.wrapinput {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.upload {
  cursor: pointer;
  border-radius: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  background-color: rgb(181, 151, 182);
  width: 200px;
  height: 200px;
}
.upload i {
  font-size: 6rem;
  color: #ffffff;
}

.labelimg {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.2em;
  color: #ffffff;
}

.imgprev {
  background-color: #ffffff;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.inputimg {
  display: none;
}

.block {
  width: 200px;
  height: 200px;
}
