.container {
  height: 120px;
  width: 80vw;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.container h3 {
  margin-left: 10px;
  font-size: 20px;
}

#link {
  text-decoration: none;
  color: black;
}

.imgContainer {
  display: flex;
  align-items: center;
}

.textContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 520px;
  margin-right: 30px;
}

.textContainer input {
  width: 60px;
  padding-left: 15px;
}

.trashCan {
  transition: 0.2s;
}

.trashCan:hover {
  color: red;
  cursor: pointer;
  transition: 0.2s;
}

.textContainer i {
  font-size: 28px;
}

.textContainer h3 {
  margin-right: 0px;
}

.costContainer h5{
  font-size: 14px;
  position: absolute;
  top: -50%;
  right: 10%;
  text-decoration: line-through;
}

.costContainer{
  text-align: center;  
  position: relative;
}

.container img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  margin: 10px;
}

@media (max-width: 480px){
  .container{
    width: 70vw;
  }
  .container h3 {
    margin-left: 4px;
    font-size: 16px;
  }
  .textContainer{
    width: 480px;
    margin-right: 22px;
  }
  .textContainer input{
    width: 37px;
    padding-left: 5px;
  }
  .textContainer i {
    font-size: 20px;
  }
  .cartImgProd{
    width: 400px;
  }
}