.container {
  overflow: hidden;
  width: 100%;
  padding: 2em 3em;
  position: relative;
}

.container > i::before {
  cursor: pointer;
  color: #3a3a3a;
  outline: 3px solid #3a3a3a;
  border-radius: 7px;
  position: absolute;
  font-size: 1.8rem;
  text-align: center;
  right: 15px;
  top: 15px;
  padding-top: 4px;
  background-color: transparent;
  display: flex;justify-content: center;align-items: center;
}

.container > i:hover:before {
  color: #cecece;
  background-color: #3a3a3a;
  outline: 3px solid #3a3a3a;
}

.container::before {
  overflow: hidden;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2222221f;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: translateX(-100%);
  transition: transform 1s cubic-bezier(0.49, 0.03, 0.49, 0.96);
}

.container:hover::before {
  transform: translateX(100%);
}

.title {
  font-size: 2.8rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5em;
  color: #3a3a3a;
}

.text {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  color: #3a3a3a;
}
