.containerGlobal {
  background-color: rgb(199, 159, 236);
}

.cardUser {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 80%;
  border-radius: 5px;
  margin: 15px 10%;
}

.imgProfile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 15px;
  background-color: blueviolet;
}

.headProfile {
    width: 90%;
  display: flex;
  align-items: center;
  background-color: blueviolet;
  border-radius: 15px;
  margin: 15px 0;
}
.subtitle {
  margin: 15px 0;
  font-size: 25px;
  font-weight: 600;
  padding: 5px 0;
}

.acordeonContainer {
    min-height: calc(100vh - 475px);
}

.acordeon {
  width: 70vw;
}

.allBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name{
  color: white;
  font-size: 2rem;
}
/* .insideItem{
    display: flex;
    flex-direction: column; 
        align-items: center; 
    border: 1px solid red;
    width: 50%;
        
    } */
.imgContainer{
  width: 13vw;
}
.inputImg{
  width: 80%;
  font-size: 13px;
  padding: 5px;
  margin: 0 10px;
}
