.containerGlobal {
  background-color: rgb(199, 159, 236);
}

.cardUser {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 80%;
  border-radius: 5px;
  margin: 15px 10%;
}

.imgProfile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.headProfile {
    width: 90%;
  display: flex;
  align-items: center;
  padding: 1em;
  gap: 2em;
  background-color: blueviolet;
  border-radius: 15px;
  margin: 1.5em  0;
}
.subtitle {
  margin: 15px 0;
  font-size: 25px;
  font-weight: 600;
  padding: 5px 0;
}

.acordeonContainer {
    min-height: calc(100vh - 475px);
}

.acordeon {
  width: 70vw;
}

.allBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name{
  color: white;
  font-size: 2rem;
}

.name strong::first-letter {
  text-transform: uppercase;
}

.role {
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
}
/* .insideItem{
    display: flex;
    flex-direction: column; 
        align-items: center; 
    border: 1px solid red;
    width: 50%;
        
    } */
.imgContainer{

}

.upload {
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: rgba(110, 110, 110, 0.329);
  border: 1px solid rgb(54, 54, 54);
  width: 200px;
  height: 200px;
  color: #ffffff;
  font-size: 2rem;
  padding-bottom: 1.2em;
}
.upload > i {
  position: absolute;
  font-size: 5rem;
  color: #ffffff;
  top: 10px;
  right: 55px;
}

