.anuncio {
    width: 100%;
    text-align: center;
    margin: 2em 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.anuncio > img {
    cursor: pointer;
    width: 80%;
    border-radius: 20px;
}

.anuncio > img:hover {
    filter: brightness(1.2);
}

@media (max-width: 480px){
    .anuncio > img {
        width: 95%;
    }
}