.globalContainer {
  display: flex;
  flex-wrap: wrap;
  width: 70vw;
  height: 70vh;
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: scroll;
  overflow-x: hidden;
  border: 4px solid rgba(0, 0, 0, 0.2);
}

.container {
  text-align: start;
  margin-bottom: 40px;
  margin-right: 20vw;
}

.container h2 {
  margin-left: 20px;
  font-size: 28px;
}
