.container {
    position: relative;
}

.delete i:before{
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    color: #ff0000;
    right: 10px;
    bottom: 10px;
}


.edit i:before {
    position: absolute;
    color: #008000;
    right: 60px;
}

.go i:before {
    position: absolute;
    color: #f4f800;
    top: 10px;
    right: 10px;
}