.container {
  height: 100%;
  display: flex;
}

.sideBar {
  width: 17%;
  margin: 10px;
}

.productsContainer {
  margin: 10px;
  width: 83%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
