.container {
  width: 200px;
  height: 380px;
  /* padding: 1em 0; */
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  border-radius: 10px;
  text-align: center;
  background: linear-gradient(
    0deg,
    rgb(240, 212, 240) 30%,
    rgba(70, 151, 236, 0) 65%
  );
  position: relative;
}

.favBtn {
  position: absolute;
  top: 10px;
  right: 15px;
  border-radius: 50%;
  width: 31px;
  height: 30px;
  color: white;
  background-color: rgba(137, 43, 226, 0.9);
  border: none;
  font-size: 20px;
  transition: 0.3s;
  opacity: 0;
  border: 1px solid transparent;
}

.favBtn:hover {
  color: rgba(137, 43, 226, 0.9);
  background-color: white;
  border: 1px solid rgba(137, 43, 226, 0.9);
}

.favBtn:active {
  color: rgba(117, 38, 190, 0.9);
  border: 1px solid rgba(117, 38, 190, 0.9);
}

.container:hover .favBtn {
  opacity: 1;
  transition: 0.3s;
}

.cart2 {
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.5em;
  text-decoration: none;
  /* background-color: #7bbd50; */
  background-color: transparent;
  color: rgb(100, 100, 100);
  padding: 2px 15px;
  margin-bottom: 1em;
  border-radius: 10px;
  border: none;
  transition: 0.3s;
  text-decoration: underline;
  position: absolute;
  justify-content: center;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: 15px 20px;
}

.cart2:hover {
  background-color: #408612;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.discount {
  position: absolute;
  top: -10px;
  left: -10px;
  font-size: 18px;
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.discount::before {
  content: "";
  position: absolute;
  width: 150%;
  height: 30px;
  background-color: rgb(238, 0, 0);
  transform: rotate(-45deg) translateY(-20px);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.discount::after {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 0px;
  width: 10px;
  height: 10px;
  background-color: rgb(202, 0, 0);
  z-index: -1;
  box-shadow: 114px -115px rgb(202, 0, 0);
}

.disNum {
  position: absolute;
  transform: rotate(-45deg);
  right: 30px;
  top: 38px;
  color: white;
  font-weight: 600;
  letter-spacing: 0.1em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  font-size: 17px;
  width: 100px;
}

#disCost {
  font-size: 28px;
}

.add {
  font-size: 1rem;
}

.cart2 i {
  font-size: 1.2rem;
}

.cart {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
  font-size: 20px;
  transition: 0.2s;
  color: transparent;
}

.container:hover .cart {
  color: black;
  cursor: pointer;
  transition: 0.2s;
}

.cart i {
  font-size: 25px;
}

.cart i:hover {
  color: blueviolet;
}

.cart i:active {
  color: black;
}

.container img {
  padding-top: 1em;
  height: 100px;
}

.container #nombre {
  font-size: 15px;
}

.container #precio {
  font-size: 28px;
}

.container #disPrice {
  margin: 0;
  font-size: 16px;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.6);
}

.button {
  text-decoration: none;
  background-color: blueviolet;
  padding: 2px 15px;
  margin-bottom: 1em;
  border-radius: 10px;
  color: white;
  border: none;
  border: 2px solid blueviolet;
  transition: 0.3s;
}

.button:hover {
  background-color: #7325bb;
  color: white;
  transition: 0.3s;
}

.modalTitle{
  font-size: 35px;
  font-family: Cocosharp;
}

.modalSubtitle{
  font-family: Open Sans, sans-serif;
}

@font-face {
  font-family: Cocosharp;
  src: url('../../components/fonts/COCO-SHARP-BOLD-TRIAL.TTF');
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

@media (max-width: 600px){
  .container{
    margin: 5px;
  }
}