.container {
  width: 200px;
  height: 350px;
  /* padding: 1em 0; */
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  border-radius: 10px;
  text-align: center;
  background: linear-gradient(
    0deg,   
    rgb(240, 212, 240) 30%,
    rgba(70, 151, 236, 0) 65%
  );
  position: relative;
}

.cart2 {
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: .5em;
  text-decoration: none;
  /* background-color: #7bbd50; */
  background-color: transparent;
  color: rgb(100, 100, 100);
  padding: 2px 15px;
  margin-bottom: 1em;
  border-radius: 10px;
  border: none;
  transition: 0.3s;
  text-decoration: underline;
}

.cart2:hover {
  background-color: #408612;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.add {
  font-size: 1rem;
}

.cart2 i {
  font-size: 1.2rem;
}



.cart {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
  font-size: 20px;
  transition: 0.2s;
  color: transparent;
}

.container:hover .cart {
  color: black;
  cursor: pointer;
  transition: 0.2s;
}

.cart i{
  font-size: 25px;
}

.cart i:hover {
  color: blueviolet;
}

.cart i:active {
  color: black;
}

.container img {
  padding-top: 1em;
  height: 100px;
}

.container #nombre {
  font-size: 16px;
}

.container #precio {
  font-size: 30px;
}

.button {
  text-decoration: none;
  background-color: blueviolet;
  padding: 2px 15px;
  margin-bottom: 1em;
  border-radius: 10px;
  color: white;
  border: none;
  border: 2px solid blueviolet;
  transition: 0.3s;
}

.button:hover {
  background-color: #7325bb;
  color: white;
  transition: 0.3s;
}
