.container {
  margin: 2em 0;
  width: 60%;
  display: flex;
  flex-flow: column nowrap;
  padding: 1em 2em;
  align-items: flex-start;
  outline: 1px solid #797979;
  box-shadow: 0 0 5px 2px #797979;
  border-radius: 5px;
  background-color: #f1f1f1;
}

.label {
  font-size: 1.3rem;
  text-transform: uppercase;
}

.input {
  width: 50%;
  padding: 0.2em 0.4em;
  background-color: transparent;
  border-radius: 5px;
  border: none;
  margin: 1em 0;
  outline: 1px solid #797979;
  box-shadow: 0 0 5px 2px #797979;
}

.label:nth-of-type(3),
.container span,
.submit {
  align-self: center;
}

.submit {
  margin: 1em 0;
  padding: .7em 4em;
  background-color: transparent;
  font-size: 1rem;
  border: none;
  outline: 1px solid #444444;
  font-family: "Montserrat", sans-serif;
}

.submit:hover {
  background-color: #444444;
  color: #ffffff;
}


.textarea {
  overflow:auto;
  width: 100%;
  min-width: 200px;
  height: 100px;
  resize: none;
}

.textarea::-webkit-scrollbar {
  width: 8px;
}

.textarea::-webkit-scrollbar-track {
  background-color: #797979;
  border-radius: 0 5px 5px 0;
}

.textarea::-webkit-scrollbar-thumb {
  background-color: #752a7c;
  padding: 0 1px;
  border-radius: 5px;
}