.navbar {
  display: flex;
  flex-flow: column nowrap;
  font-family: "Montserrat", sans-serif;
}

.container {
  background-color: #69329c;
  padding: 5px 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.link {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-left: 1.5em;
  gap: 0.8em;
}

.logo {
  width: 15%;
}

.mainTitle {
  letter-spacing: 0.1em;
  display: inline-block;
  font-family: Heavitas;
  font-size: 2.3rem;
  margin-top: 8px;
  color: #ffffff;
}

.form {
  width: 40%;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
}

.form input {
  width: 100%;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: #ffffff;
  height: 100%;
  padding-left: 10px;
  padding-right: 45px;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 0 5px #000000;
}

.form i {
  font-size: 1.6rem;
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  color: #888888;
}

.containerChild {
  padding-right: 3rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 2.5rem;
}

.containerChild i {
  cursor: pointer;
  font-size: 1rem;
  color: #ffffff;
  padding: 0.2em;

}

/* .user {
  display: flex;
  align-items: center;
  gap: 1em;
} */

.userimg {
  width: 40%;
  cursor: pointer;
}

.userTxt {
  cursor: pointer;
  font-size: 1rem;
  color: #ffffff;
}

.userTxt:hover {
  filter: drop-shadow(0 0 5px #000000) drop-shadow(0 0 5px #000000);
}

.links {
  background-color: #ebebeb;
  border-bottom: 1px solid rgb(207, 207, 207);
  padding: 0.6em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5em;
}

.child {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  color: #2c2c2c;
}

.child:hover {
  filter: drop-shadow(0 0 3px rgb(49, 49, 49));
  color: #a13793;
}

.activeChild {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  filter: drop-shadow(0 0 3px rgb(49, 49, 49));
  color: #a13793;
}

.activeChild:hover {
  color: #a13793;
}

.favoritesBtn {
  /* position: absolute;
  right: 25px; */
}

.favoritesBtn nav:hover {
  background-color: #a13793;

}


@media (max-width: 600px){
  .links {
    display: flex;
    flex-wrap: wrap;
  }
  .child{
    font-size: 0.8rem;
  }
  
  .activeChild{
    font-size: 0.8rem;
  }
  .logo {
    width: 20%;
  }
  .mainTitle{
    font-size: 1.2rem;
  }
  .userTxt {
    font-size: 0.7rem;
  }
  }

@font-face {
  font-family: "Heavitas";
  src: url(".././fonts/HEAVITAS.TTF");
}
