.container {
  text-align: center;
  padding-top: .4em;
  width: 150px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: .4em;
  position: relative;
  transition: background-color .5s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container:hover {
  background-color: rgba(0, 0, 0, 0.199);
}

.image {
  width: 100px;height: 100px;
  object-fit: contain;
}  

.name {
  font-size: .8rem;
}  

.brand {
  font-size: 1rem;
}

#addBtn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 8px;
  border-radius: 20px;
  transition: 0.3s;
  border: 1px solid transparent;
  background-color: rgba(137, 43, 226, 0.9);
  color: white;
}

#addBtn:hover {
  background-color: transparent;
  transition: 0.3s;
  border: 1px solid rgba(137, 43, 226, 0.9);
  color: rgba(137, 43, 226, 0.9);
}
