.container {
    padding-top: 2em;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 2em;
}

.carrousel {
  flex-basis: 40%;
  display: flex;
  flex-flow: column nowrap;
  gap: 3em;
}

.carrousel1 {
    display: flex;
    justify-content: center;
}

.carrousel1 img {
  width: 450px;
  outline: 4px solid rgb(216, 230, 29);
}
.carrousel2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 1em;
}
.carrousel2 img {
    width: 120px;
}
.details {
  flex-basis: 40%;
  display: flex;
  flex-flow: column nowrap;
}

.title {
  font-size: 2rem;
}

.route {
  font-size: 1rem;
}

.brand {
    margin: .7em 0;
    font-weight: 600;
    color: #c40202;
    font-size: 1.4rem;
}

.cost {
    margin: .9em 0;
    font-weight: 600;
  font-size: 1.7rem;
  color: #c78711
}

.svg {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 1.2rem;
  color: #248b24;
}

.svg svg {
    width: 1.7em;
    height: 1.7em;
    stroke: #248b24;
    margin-right: .7em;
}

.especificaciones {

}

