
.main {
    font-family: 'Montserrat', sans-serif;
}

.details {
    display: flex;
    flex-flow: column nowrap;
}

.title {
    font-size: 2rem;
}

.route {
    font-size: 1rem;
}

.cost {
    font-size: 1rem;
}

.svg {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}