.container {
  width: 95%;
  display: flex;
  flex-flow: row nowrap;
  gap: 1.5em;
  background-color: #d4d4d4;
  padding: 1em;
}

.text,
.edit,
.detail {
  text-decoration: none;
  font-size: 1rem;
  color: #000000;
}

.text:first-child {
  flex-basis: 10%;
}

.text:nth-child(2) {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-basis: 25%;
}

.text:nth-child(3) {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-basis: 10%;
}

.text:nth-child(4) {
  flex-basis: 10%;
}

.link {
  flex-basis: 10%;
  text-decoration: none;
  text-align: center;
}
.edit {
  cursor: pointer;
  color: #007c00;
}
.edit:hover {
  filter: drop-shadow(0 0 5px black);
}

.delete {
  flex-basis: 10%;
  cursor: pointer;
  color: #a50f0f;
  text-align: center;
}
.delete:hover {
  filter: drop-shadow(0 0 5px black);
}

#inputDis {
  width: 40px;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #808080;
  text-align: center;
}

.discountContainer {
  flex-basis: 10%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.discountContainer button {
  margin-left: 2px;
  border-radius: 50%;
  border: none;
  outline: 1px solid rgb(68, 68, 68);
}

.modalTitle {
  font-size: 35px;
  font-family: Cocosharp;
}

.modalSubtitle {
  font-family: Open Sans, sans-serif;
}

.stock {
  flex-basis: 10%;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.stock > button {
  margin-left: 2px;
  border-radius: 50%;
  border: none;
  outline: 1px solid rgb(68, 68, 68);
}

@font-face {
  font-family: Cocosharp;
  src: url("../../fonts/COCO-SHARP-BOLD-TRIAL.TTF");
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
