.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.cardGroup {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 1em 0;
  gap: 1.5em;
}

.card {
  width: 240px;
  height: 220px;
  border-radius: 8px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 0.5em;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#x {
  position: absolute;
  top: 5px;
  right: 5px;
  /* width: 26px;
  height: 26px; */
  padding: 0.05em 0.3em;
  font-size: 1rem;
  background-color: rgb(223, 0, 0);
  color: white;
  border-radius: 5px;
  border: none;
}

#x:hover {
  background-color: rgb(184, 0, 0);
}

#x:active {
  background-color: rgb(155, 0, 0);
}

.cardImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.name {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}

.cost {
  font-size: 23px;
}

.btnContainer {
  display: flex;
  margin: 20px;
}

.btnContainer button {
  padding: 12px 30px;
  border-radius: 10px;
  background-color: #52a90b;
  color: #ffffff;
  border: none;
  transition: 0.3s;
  position: relative;
  margin: 0px 15px;
}

#clear {
  background-color: rgb(223, 0, 0);
}

#clear:hover {
  background-color: rgb(184, 0, 0);
}

#clear:active {
  background-color: rgb(155, 0, 0);
}

#check:hover {
  background-color: rgb(92, 204, 0);
  transition: 0.3s;
}

#check:active {
  background-color: rgb(80, 177, 0);
  transition: 0.3s;
}

.containerNoItems {
  width: 80%; 
  display: flex;
  background-color: rgba(0, 255, 255, 0.199);
  background-color: transparent;
  box-shadow: 5px 5px 15px #aaa;
  border-radius: 5px;

}

.containerNoItems > h2 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  margin: 20px 0px;
}

.image {
  width: 200px;
  filter: opacity(0.5);
}
